{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ticket - Fanan Limited Helpdesk</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'pwn.css' %}" rel="stylesheet" >
    <style>
        .form-control{
            background-color: #1b1f2b;
            color: #ffff00;
            text-shadow: 0 0 5px  #ffff00;
            
        }

        .form-control:focus{
            background-color: #1b1f2b;
            color: #ffff00;
            text-shadow: 0 0 5px  #ffff00;
        }
    </style>
    {% endblock %}


{% block content %}
<div class="container">
    <div class="card">
            <h2 class="text-center">Create a Ticket</h2>
            <form action="/staff/submit_ticket/" method="POST">
                {% csrf_token %}

                <div class="mb-3 row px-3">
                    <label for="organization" class="col-4 form-label">Organization</label>
                    <input type="text" class="col-8 form-control" id="organization" name="organization" required>
                </div> 

                <!-- {% if user.is_staff %}
                <div class="mb-3 row px-3">
                    <label for="priority" class="form-label col-4">Priority</label>
                    <select class="form-select col-8 text-center" id="priority" name="priority" required>
                        {% for priority in priority_list %}
                            <option value="{{ priority.id }}" {% if priority.is_default %}selected="selected"{% endif %} style="color: {{ priority.display_color }};">{{ priority.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <div class="mb-3 row px-3" hidden>
                    <label for="priority" class="form-label col-4">Priority</label>
                    <select class="form-select col-8 text-center" id="priority" name="priority" required>
                        {% for priority in priority_list %}
                            <option value="{{ priority.id }}" {% if priority.is_default %}selected="selected"{% endif %} style="color: {{ priority.display_color }};">{{ priority.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %} -->
<!-- 
                {% if allowed_to_assign_ticket %}
                <div class="mb-3 row px-3">
                    <label for="assigned" class="form-label col-4">Assigned to</label>
                    <select  class="form-select col-8 text-center" id="assigned"  name="assigned" selected="selected">
                        <option value="unassigned">Unassigned</option>
                        {% for member in tab_users %}
                            <option value="{{ member.id }}">{{ member.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <div class="mb-3 row px-3">
                    <label for="assigned" class="form-label col-4">Assigned to</label>
                    <select  class="form-select col-8 text-center" id="assigned"  name="assigned" selected="selected" hidden>
                        <option value="unassigned">Unassigned</option>
                        {% for member in tab_users %}
                            <option value="{{ member.id }}">{{ member.username }}</option>
                        {% endfor %}
                    </select>
                    <p class="form-control col-8" >unassigned</p>
                </div>
                {% endif %}
                 -->
                <!-- {% if user.is_staff %}
                <div class="mb-3 row px-3" >
                    <label for="status" class="col-4 form-label">Status</label>
                    <select class="col-8 form-select text-center" id="status" name="status" required>
                        {% for status in status_list %}
                            <option value="{{ status.id }}" {% if status.is_default %}{% endif %}>{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <select class="col-8 form-select text-center" id="status" name="status" hidden>
                    {% for status in status_list %}
                        <option value="{{ submitted.id }}" {% if status.is_default %}{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                </select>
                {% endif %} -->

                <div class="mb-3 row px-3">
                    <label for="name" class="col-4 form-label">Subject</label>
                    <input type="text" class="col-8 form-control" id="name" name="name" required>
                </div>

                <div class="mb-3 row px-3">
                    <label for="desc" class="col-4 form-label">Description</label>
                    <textarea class="col-8 form-control" id="desc" name="desc" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn w-100">Submit Ticket</button>
                
            </form>
        
        </div>
    </div>
            {% block script %}
        {% endblock %}

{% endblock %}
