/* Cyberpunk Hacker Theme */

body {
    background-color: #0d0d0d;
    color: #00ff99;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #0011ff;
    border-radius: 5px;
}

h1, h5, h6 {
    color: #00ccff;
    text-shadow: 0 0 5px #00ccff;
}

h3{
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
}

a, b, h4{
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}

p:focus{
    color: #00ccff;
}

p {
    color: #44ff00;
    text-shadow: 0 0 5px  #44ff00;
}

strong, li{
    color: #ffff00;
    text-shadow: 0 0 5px  #ffff00;
}

li{
    list-style-type: none;
}
button, .btn {
    background:  #ffff00;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

button:hover, .btn:hover {
    background:  #ffff00;
    color: #000;
    border: 2px solid #ffff00;

    box-shadow: 0 0 10px #ffff00;
}

input, select {
    background: #111;
    border: 2px solid #00ff99;
    color: #00ff99;
    padding: 8px;
    font-size: 16px;
}

.card {
    background: #111;
    padding: 15px;
    border: 2px solid #00ccff;
    box-shadow: 0 0 5px #00ccff;
    border-radius: 5px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #ffff00;
    color: #ffff00;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

