{% block head %}
<style>
    /* Cyberpunk-inspired theme */
    body {
        background-color: #0d0d0d;
        color: #00ff99;
        font-family: 'Courier New', monospace;
        text-align: center;
    }

    h1 {
        color: #FFEA00;
        text-shadow: 2px 2px 5px #00ff99;
    }

    
    button {
        padding: 8px 15px;
        background: #FFEA00;
        border: none;
        color: #0d0d0d;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
    }

    button:hover {
        background: #00ff99;
        color: #0d0d0d;
        box-shadow: 0px 0px 10px #00ff99;
    }

</style>
{% endblock %}

{% block content %}
    <form action="/rooms/update_room/{{ room.name }}/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status"  name="status" class="form-control">
                {% for status in status_list %}
                    <option value="{{ status.id }}" {% if room.status.id == status.id %}selected="selected"{% endif %}>{{ status.name }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ room.name }}"/>
        </div>
        <textarea name="desc" id="desc" value="{{room.desc}}">{{room.desc}}</textarea>
        <br />
        <input type="submit" class="btn btn-primary btn-lg" value="Update" />
    </form>
{% endblock %}